<?xml version="1.0" encoding="utf-8"?>

<log4net debug="false" threshold="ALL">
  
  <!-- Writes to the event log -->
  <appender name="EventLog" type="log4net.Appender.EventLogAppender">
    <ApplicationName value="SharpHsql" />
    <layout type="log4net.Layout.PatternLayout">
      <!-- For the valid values for the conversion pattern, look at the .chm help file, under log4net.Layout.PatternLayout class.  -->
      <conversionPattern value="[%t] %p %W%n %a%n %c - %m%n" />
    </layout>
  </appender>
 
  <appender name="XML" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="sharphsql.xml" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Composite" />
    <param name="MaxSizeRollBackups" value="10" />
    <param name="MaximumFileSize" value="100KB" />
    <param name="StaticLogFileName" value="true" />
    <param name="DatePattern" value=".dd-MM-yyyy'.xml'" />
    <layout type="log4net.Layout.XmlLayout" />
  </appender>
  
  <appender name="CSV" type="log4net.Appender.FileAppender">
    <file value="sharphsql.csv" />
    <appendToFile value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%t];%w;%a;%p;%c{1}.%M;%l;%m%n" />
    </layout>
  </appender>
  
  <appender name="Trace" type="log4net.Appender.ASPNetTraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
    </layout>
  </appender>
  
  <appender name="File" type="log4net.Appender.FileAppender">
    <file value="sharphsql.log" />
    <appendToFile value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %p %c - %m%n" />
    </layout>
  </appender>

  <root>
    <!-- Levels (in order): ALL DEBUG INFO WARN ERROR FATAL OFF -->
    <level value="ALL" />
    <!--<appender-ref ref="EventLog" />-->
    <!--<appender-ref ref="XML" />-->
    <appender-ref ref="File" />
    <!-- <appender-ref ref="CSV" /> -->
    <!-- <appender-ref ref="Remoting" />  -->
    <!-- <appender-ref ref="Console" /> -->
    <!-- <appender-ref ref="Trace" /> -->
  </root>
</log4net>